body {
    background-color: #007c7c;
}

h2, label, th {
    text-align: center;
    font-size: 125%;
    background-color: black;
    color: #1e9696;
    border: 3px solid #7c003e;
}
p {
    text-align: center;
}
.container {
    background-color: #51afe6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#flexblack {
    background-color: #007c7c;
}
nav {
    background-color: black;
    display: flex;
    justify-content: center;
    color: black;
}
nav a {
    color: #1e9696;
    border: 3px solid #7c003e;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 50px;
}
nav a:hover, nav a.active, input[type=submit]:hover, .editbutton:hover, .viewlink:hover, button[type=submit]:hover, .flashybutton:hover {
    color: #FFC72C;
}
input[type=submit], .editbutton, .viewlink, button[type=submit], .flashybutton {
    text-align: center;
    background-color: black;
    color: #8dd5ff;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
}
input[type=submit], .editbutton, .viewlink, button[type=submit], .flashybutton {
    color: #1e9696;
    border: 3px solid #7c003e;
}
input[type=text], input[type=number], input[type=password], textarea, #firstName, #lastName, #email {
    width: 100%;
    padding: 6px 10px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    height: 60px;
}
table {
    border-collapse: collapse;
    width: 35%;
    text-align: center;
    color: black;
}
td {
    border: 3px solid #1e9696;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #7c003e;
    font-size: 125%;
}
.edittable {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100px;
}
select {
    width: 200px;
}
#padding, .container, .addContainer {
    padding: 26px;
    border: 3px solid #1e9696;
}
.space {
    padding: 26px;
}
.spaceMedium {
    padding: 20px;
}
.spaceSmall {
    padding: 0.1px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 250px 250px auto auto;
    padding: 50px;
    grid-gap: 75px;
}
.grid-item {
    border: 3px solid #1e9696;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.addContainer {
    width: 50%;
}

#floatrightbutton {
    float: right;
}
.col-25 {
    float: left;
    width: 20%;
    /*margin-top: 6px;*/
    margin: 10px;
}
.col-75 {
    float: left;
    width: 60%;
    /*margin-top: 6px;*/
    margin: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 800px) {
    .col-25, .col-75{
        width: 100%;
        margin-top: 0;
    }
}
label {
    padding: 2px;
}
.gridImage {
    width: 175px;
}
#broccoli {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.broccoliBounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bounce{
    0% {
        top: 0px;
    }
    50% {
        top: 240px;
        width: 260px;
        height: 140px;
    }
    100% {
        top: 0px;
    }
}
.margin {
    margin: 10px;
}
#welcome {
    text-align: center;
    font-size: 400%;
    color: #1e9696;
}
.food {
    color: #1e9696;
    text-decoration: none;
    font-size: 150%;
}
.float, #float {
    position: absolute;
    bottom: 10px;
    background-color: black;
}
td {
    padding-left: 20px;
    padding-right: 20px;
}