* {
    font-family: 'Finger Paint';
    box-sizing: border-box;
}

html {
    height: 100%;
}

input[type=text], input[type=number], input[type=password], input[type=file], textarea, #firstName, #lastName, #email,
th, td, select {
    font-family: Arial;
}

body {
    background-color: floralwhite;
    margin: 0;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

.imagetextcontainer {
    position: relative;
    text-align: center;
    color: white;
}

/* Start navigation CSS */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f93f23;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: floralwhite;
    font-size: 30px;
    transition-duration: 1s;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
}

.nav-left {
    float:left
}

.nav-right {
    float:right;
}

#nav-logo {
    width: 120px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: 0.5s;
    margin-top: 7px;
}

#nav-logo-text-container {
    margin-top: 40px;
}

#nav-logo-text {
    font-size: 40px;
}

.nav-mykitchen-container {
    padding: 0;
    margin-top: 3px;
    margin-bottom: 20px;
}

.nav-mykitchen {
    width: 100px;
}

.nav-mykitchen-text {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    transition-duration: 0.5s;
}

#nav-logout {
    width: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
    transition-duration: 0.5s;
}

li a:hover, .nav-mykitchen-text:hover {
    text-shadow: -2px 2px 0 #f9ab23,
    2px 2px 0 #f9ab23,
    2px -2px 0 #f9ab23,
    -2px -2px 0 #f9ab23;
}

#nav-search-container {
    float: none;
    margin: auto;
    width: 300px;
    padding-top: 45px;
    position: relative;
}

#nav-search-bar {
    height: 42px;
    border-radius: 25px;
    border: 1px solid lightgray;
    transition-duration: 0.5s;
    box-shadow: 0 0 5px black;
    background-color: floralwhite;
    text-align: center;
}

#nav-search {
    border: none;
    color: black;
    text-align: center;
    font-size: 120%;
    font-family: 'Finger Paint';
    width: 220px;
    background-color: floralwhite;
    box-shadow: none;
    outline: none;
}

#nav-search-icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
    position: absolute;
    top: 76%;
    right: -4%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: floralwhite;
    transition-duration: 0.5s;
}

#nav-search-bar:hover, #nav-search-icon:hover {
    box-shadow: 0 0 10px black;
}

/* Admin navigation extension */
#nav-admin {
    background-color: black;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

.nav-admin-button {
    font-size: 20px;
    padding: 0px 5px;
    float: left;
    margin-left: 7px;
}

/* Changes the navigation bar when the user's screen is smaller than the specified width */
@media screen and (max-width: 1280px) {
    #nav-logo-text-container {
        display: none;
    }

    #nav-search-container {
        margin-top: 100px;
        margin-bottom: 15px;
        width: 90%;
    }

    #nav-search {
        width: 85%;
    }

    #nav-search-icon {
        right: 0%;
    }
}

/* End navigation CSS */
/* */
/* Start grid CSS */

/* Responsive grid > each row should have a total width of 100%, adding up the col-nrs should therefore result in 12 */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-image {
    width: 300px;
    border-radius: 10%;
    box-shadow: 0 0 5px black;
    transition-duration: 0.5s;
}

/* End grid CSS */
/* */
/* Start overview CSS */

.index-foodname {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Resizes the overview image grid columns for smaller screens */
@media only screen and (max-width: 1280px) {
    .overview-responsive {
        width: 33.33%;
    }
}
@media only screen and (max-width: 950px) {
    .overview-responsive {
        width: 50%;
    }
}
@media only screen and (max-width: 625px) {
    .overview-responsive {
        width: 100%;
    }
}

/* End overview CSS */
/* */
/* Start view recipe page CSS */

/* Styles the view recipe paper */
#paper {
    width: 450px;
    position: relative;
    margin: 30px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0 0 5px black;
}

/* Adds a red line to the view recipe paper */
#paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
}

/* Adds blue lines to the view recipe paper */
#paper-pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* Styles the content of the view recipe paper  */
#paper-content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

#view-image-container {
    margin-top: 125px;
    position: relative;
    text-align: center;
}

#view-image {
    width: 325px;
    border-radius: 10%;
    box-shadow: 0 0 5px black;
    transition-duration: 0.5s;
}

#postit-container {
    margin-top: 160px;
    position: relative;
}

.postit {
    position: relative;
    width: 325px;
    margin: auto;
    padding: 20px;
    font-size: 19px;
    box-shadow: 0 0 5px black;
    background: #eae672;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    min-height: 275px;
}

/* Footer to accommodate the print button */
#print-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -4px 6px 0 rgba(0,0,0,.2);
    background-color: #f93f23;
}

/* Resizes the view recipe grid columns for smaller screens */
@media only screen and (max-width: 1360px) {
    .viewrecipe-responsive {
        width: 50%;
    }
    #view-image-container {
        margin-top: 30px;
    }
    #postit-container {
        margin-top: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 950px) {
    .viewrecipe-responsive {
        width: 100%;
    }
}

/* End view recipe page CSS */
/* */
/* Start general CSS */

h2, label, th {
    text-align: center;
    font-size: 125%;
    background-color: black;
    color: floralwhite;
    opacity: 1;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

.message, .messagesmall, .recipe-title, .recipe-indication {
    text-align: center;
    font-size: 400%;
    color: #f9ab23;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
}

input[type=file] {
    text-align: center;
    background-color: black;
    box-shadow: 0 0 5px black;
    color: floralwhite;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    transition-duration: 0.5s;
}

p {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=submit]:hover, .editbutton:hover, button[type=submit]:hover, .flashybutton:hover {
    color: #f9ab23;
    box-shadow: 0 0 20px #f9ab23;
}

input[type=submit], .editbutton, button[type=submit], .flashybutton {
    text-align: center;
    background-color: black;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
    box-shadow: 0 0 5px black;
    color: floralwhite;
    border-style: none;
}

input[type=text], input[type=number], input[type=password], input[type=email], textarea, #firstName, #lastName, #email {
    width: 100%;
    padding: 6px 10px;
    display: inline-block;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

input[type=text]:hover, input[type=number]:hover, input[type=password]:hover, textarea:hover, #firstName:hover,
#lastName:hover, #email:hover, select:hover, input[type=file]:hover, .grid-image:hover, #view-image:hover {
    box-shadow: 0 0 10px black;
}

textarea {
    height: 80px;
}

table {
    border-collapse: collapse;
    width: 35%;
    text-align: center;
    color: black;
}

td {
    box-shadow: 0 0 5px black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 125%;
    background-color: #f93f23;
    color: floralwhite;
    opacity: 1;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

th {
    box-shadow: 0 0 5px black;
}

.edittable {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100px;
}

#padding, .container, .addContainer {
    padding: 26px;
    box-shadow: 0 0 5px black;
    background-color: #f93f23;
}

.spaceLarge {
    padding: 30px;
}

.spaceMedium {
    padding: 20px;
}

.spaceSmall {
    padding: 10px;
}

.spaceTiny {
    padding: 0.1px;
}

.viewImage {
    width: 300px;
    border-radius: 35%;
    box-shadow: 0 0 5px black;
}

.addContainer {
    width: 50%;
}

#floatrightbutton {
    float: right;
}

.column-left {
    float: left;
    width: 200px;
    margin: 10px;
}

.column-right {
    float: left;
    width: 400px;
    margin: 10px;
}

label {
    padding: 2px;
}

.margin {
    margin: 10px;
}

.recipe-title {
    font-size: 200%;
}

.recipe-indication {
    font-size: 100%;
}

#recipe-user {
    text-align: center;
}

.messagesmall {
    font-size: 200%;
}

.float, #float {
    position: absolute;
    bottom: 10px;
    background-color: black;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.elmo {
    height: 200px;
    margin: 40px;
    border-radius: 35%;
    box-shadow: 0 0 5px black;
}

select {
    width: 100%;
    height: 33px;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}

.center {
    text-align: center;
}

.width {
    width: 100px;
}

.col-12 {
    float: none;
}

#cook {
    width: 175px;
}

#recipe {
    margin-top: 30px;
    width: 160px;
}

.color {
    background-color: #f93f23;
}

.textshadow {
    color: white;
    font-size: 20px;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#smaller {
    font-size: 50px;
}

.cookbook-text {
    color: white;
    font-size: 20px;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    text-decoration: none;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* MODAL */

.modal {
    /* This way it could be display flex or grid or whatever also. */
    display: none;
    /* Probably need media queries here */
    width: 350px;
    max-width: 100%;
    height: 550px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.opened {
    display: block;
}

.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal .close-button {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    font-size: 1.3rem;
}

#mycookbook-modal {
    width: 600px;
    height: 500px;
}

.cookbook-text {
    color: white;
    font-size: 20px;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.open-book {
    min-width: 700px;
    min-height: 450px;
}

.search-text {
    color: #f9ab23;
    font-size: 20px;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    text-decoration: none;
}

#search-table {
    width: 100px;
}

#search-table td {
    transition-duration: 0.5s;
    border: 1px solid black;
}

#search-table td:hover {
    border: 1px solid #f9ab23;
    box-shadow: 0 0 15px #f9ab23;
}

/* Start add recipe CSS */

.add-responsive {
    width: 700px;
}

@media screen and (max-width: 800px) {
    .add-responsive {
        width: 470px;
    }
}

.remove {
    font-family: Arial;
    height: 30px;
    width: 30px;
    transition-duration: 0.5s;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.add {
    font-family: Arial;
    transition-duration: 0.5s;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    height: 25px;
}

.remove:hover, .add:hover {
    box-shadow: 0 0 10px black;
}

input[id*="myInput"]:not(#myInput1) {
    width: 370px;
}

/* End add recipe CSS */

#mycookbook-modal {
    width: 80%;
    height: 70%;
}

.book-container {
    padding: 50px;
}


.book {
    margin-left: 50%;
}

#cookbook-name {

}

#new-cookbook {
    width: 60%;
    margin-left: 25%;
    margin-top: 10%;
    border: solid;
}