<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<nav th:fragment="navigation">
    <ul>
        <li class="floatleft">
            <a th:href="@{/index}" class="nopadding">
                <img class="broccoli" src="/images/broccoli.png" alt="Logo">
            </a>
        </li>
        <li class="floatleft eat">
            <a th:href="@{/index}">EatAndTreat</a>
        </li>
        <li class="floatright">
            <a th:href="@{/logout}" class="nopadding">
                <img class="logout" src="/images/logout.jpg" alt="Logo">
            </a>
        </li>
        <li class="floatright imagetextcontainer mykitchen"
            th:unless="${#authorization.expression('hasRole(''USER'')')}">
            <a class="kitchenlogocontainer" th:href="@{/login}">
                <img class="kitchenlogo" src="/images/cook.png" alt="Kitchen">
            </a>
            <div class="kitchenlogotextplace">MyKitchen</div>
        </li>
        <li class="floatright imagetextcontainer mykitchen"
            th:if="${#authorization.expression('hasRole(''USER'')')}">
            <a class="kitchenlogocontainer" th:href="@{/mykitchen}">
                <img class="kitchenlogo" src="/images/cook.png" alt="Kitchen">
            </a>
            <div class="kitchenlogotextplace">MyKitchen</div>
        </li>
        <li class="searchbarli">
            <input id="searchbar" type="text" placeholder="Search">
        </li>
    </ul>
    <!--Admin navigation-->
    <ul class="navborder">
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="lowernav" th:href="@{/recipes}">Recipe</a>
        </li>
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="lowernav" th:href="@{/cuisine}">Cuisine</a>
        </li>
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="lowernav" th:href="@{/category}">Category</a>
        </li>
    </ul>
</nav>
</body>
</html>