<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<!--Navigation-->
<nav th:fragment="navigation">
    <ul>
        <li class="nav-left">
            <a th:href="@{/index}">
                <img id="nav-logo" src="/images/broccoli.png" alt="EatAndTreat Logo">
            </a>
        </li>
        <!--EatAndTreat text-->
        <li class="nav-left">
            <a th:href="@{/index}">
                <div id="nav-eat">Eat And Treat</div>
            </a>
        </li>
        <!--Logout button-->
        <li class="nav-right">
            <a th:href="@{/logout}">
                <img id="nav-logout" src="/images/logout.jpg" alt="Logout">
            </a>
        </li>
        <!--Searchbar-->
        <li id="nav-search-container" class="nav-right">
            <div id="nav-search-bar">
                <input id="nav-search" type="text"/>
                <a href="" onclick="validateInput()" id="searchlink">
                    <img id="nav-search-icon" src="/images/search.png">
                </a>
            </div>
        </li>
        <!--MyKitchen logo referring to login for users that aren't logged in-->
        <li class="nav-right imagetextcontainer" th:unless="${#authorization.expression('hasRole(''USER'')')}">
            <a class="nav-mykitchen-container" th:href="@{/login}">
                <img class="nav-mykitchen" src="/images/mykitchen.png" alt="MyKitchen logo">
                <div class="nav-mykitchen-text">MyKitchen</div>
            </a>
        </li>
        <!--MyKitchen logo referring to MyKitchen for users that are logged in-->
        <li class="nav-right imagetextcontainer" th:if="${#authorization.expression('hasRole(''USER'')')}">
            <a class="nav-mykitchen-container" th:href="@{/mykitchen}">
                <img class="nav-mykitchen" src="/images/mykitchen.png" alt="MyKitchen logo">
            </a>
            <div class="nav-mykitchen-text">MyKitchen</div>
        </li>
    </ul>
    <!--Extended navigation for admin users-->
    <ul id="nav-extra">
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="nav-admin-button" th:href="@{/recipes}">Recipe</a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="nav-admin-button" th:href="@{/cuisine}">Cuisine</a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="nav-admin-button" th:href="@{/category}">Category</a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a class="nav-admin-button" th:href="@{/ingredients}">Ingredients</a>
        </li>
    </ul>
    <script type="text/javascript" src="/script/search.js"></script>
</nav>
</body>
</html>