select {
    width: 100%;
    height: 33px;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}

input[type=file] {
    text-align: center;
    background-color: black;
    box-shadow: 0 0 5px black;
    color: floralwhite;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    transition-duration: 0.5s;
}

.remove {
    font-family: Arial;
    height: 30px;
    width: 30px;
    transition-duration: 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    border-style: none;
    /*font-size: 130%;*/
}

.add {
    font-family: Arial;
    transition-duration: 0.5s;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    height: 25px;
    border-style: none;
}

.remove:hover, .add:hover {
    box-shadow: 0 0 10px black;
}

input[id*="myInput"] {
    width: 175px;
}

select[id*="measuringUnit"] {
    width: 90px;
}

select[id*="measuringUnitExistingRecipe"] {
    width: 90px;
}

input[id*="quantity"] {
    width: 90px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}