.recipe-title {
    color: #f9ab23;
    text-shadow: -2px 2px 0 black,
    2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    font-size: 135%;
    text-align: center;
}

/* Styles the view recipe paper */
.paper {
    width: 450px;
    position: relative;
    margin: 30px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0 0 5px black;
}

/* Adds a red line to the view recipe paper */
.paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
}

/* Adds blue lines to the view recipe paper */
.paper-pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* Styles the content of the view recipe paper  */
.paper-content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

#view-image-container {
    margin-top: 125px;
    position: relative;
    text-align: center;
}

#view-image {
    width: 325px;
    border-radius: 10%;
    box-shadow: 0 0 5px black;
    transition-duration: 0.5s;
}

#postit-container {
    margin-top: 160px;
    position: relative;
}

.postit {
    position: relative;
    width: 325px;
    margin: auto;
    padding: 20px;
    font-size: 19px;
    box-shadow: 0 0 5px black;
    background: #eae672;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    min-height: 275px;
}

/* Footer to accommodate the print button */
#print-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -4px 6px 0 rgba(0,0,0,.2);
    background-color: #f93f23;
}

/* Resizes the view recipe grid columns for smaller screens */
@media only screen and (max-width: 1360px) {
    .viewrecipe-responsive {
        width: 50%;
    }
    #view-image-container {
        margin-top: 30px;
    }
    #postit-container {
        margin-top: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 950px) {
    .viewrecipe-responsive {
        width: 100%;
    }
}

#preparation-paper {
    width: 75%;
}