<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - My Cookbooks</title>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/mycookbooks.css"/>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Navigation-->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    <!--Sliding down from navbar-->
    <button type="button" class="collapsible">Add Cookbook</button>
    <!--Main page-->
    <div class="fade-in">
        <div class="flex-container">
            <!--New cookbook-->
            <div id="new-cookbook" class="container center">
                <div class="spaceSmall"></div>
                <form th:action="@{/newcookbook}" th:object="${cookbook}" method="post">
                    <div hidden><input type="text" th:field="*{cookbookId}"/></div>
                    <input type="text" id="cookbookName" name="cookbookName" th:field="*{cookbookName}" required
                           placeholder="Cookbook Title" class="center"/>
                    <div class="spaceSmall"></div>
                    <!--Commented out because we've got no use for this function yet-->
                    <!--<label for="isPrivate">Private</label>-->
                    <!--<input type="checkbox" th:field="*{private}" th:checked="${cookbook.private}" id="isPrivate"/>-->
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</sec:authorize>
<script type="text/javascript" src="/script/fadein.js"></script>
<script type="text/javascript" src="/script/mycookbook.js"></script>
<script type="text/javascript" src="/script/slidedown.js"></script>
</body>
</html>