<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Eat And Treat - Admin Cuisine</title>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/background.css"/>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN')" th:unless="${#authorization.expression('hasRole(''USER'')')}">
    <!--Navigation-->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    <button type="button" class="collapsible">Admin Cuisine</button>
    <!--Main page-->
    <div class="fade-in">
        <div class="flex-container">
            <div class="container center">
                <!--Add cuisine form-->
                <form action="#" th:action="@{/cuisine}" th:object="${cuisine}" method="post">
                    <div hidden><input type="text" th:field="*{cuisineId}"/></div>
                    <div><input type="text" th:field="*{cuisineName}" required placeholder="New Cuisine"/></div>
                    <div class="spaceSmall"></div>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
            <div class="spaceMedium"></div>
            <table>
                <!--Displays all cuisines-->
                <tr th:each="cuisine: ${allCuisines}">
                    <td th:text="${cuisine.cuisineName}"></td>
                    <!--Loads the cuisine in the add cuisine form so it can be updated-->
                    <td class="admin-table"><a th:href="@{/cuisine/update/{cuisineId}(cuisineId=${cuisine.cuisineId})}"
                                               class="editbutton">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
</sec:authorize>
<script type="text/javascript" src="/script/fadein.js"></script>
</body>
</html>