<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - Cuisine</title>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/background.css"/>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Navigation-->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    <nav th:replace="fragments/navextra :: navextra"></nav>
    <!--Main page-->
    <div class="flex-container">
        <div class="spaceMedium"></div>
        <div class="container">
            <!--Add cuisine form-->
            <form action="#" th:action="@{/cuisine}" th:object="${cuisine}" method="post">
                <p hidden><input type="text" th:field="*{cuisineId}"/></p>
                <p><input type="text" th:field="*{cuisineName}" required placeholder="Cuisine"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="spaceMedium"></div>
        <table>
            <!--Displays all cuisines-->
            <tr th:each="cuisine: ${allCuisines}">
                <td th:text="${cuisine.cuisineName}"></td>
                <!--Loads the cuisine in the add cuisine form so it can be updated-->
                <td class="edittable"><a th:href="@{/cuisine/update/{cuisineId}(cuisineId=${cuisine.cuisineId})}"
                                         class="editbutton">Update</a></td>
            </tr>
        </table>
    </div>
</sec:authorize>
</body>
</html>