<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Recipes - Admin</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheet.css"/>
        <link rel="icon" type="image/png" href="/images/smileySmall.png">
    </head>
    <body>
        <div class="flex-container">
            <nav>
                <a th:href="@{/index}">Overview</a>
                <a th:href="@{/add}">Add</a>
                <a class="active" th:href="@{/admin}">Admin</a>
                <a th:href="@{/user}">User</a>
            </nav>
        </div>
        <div class="flex-container" id="flexblack">
            <nav>
                <a th:href="@{/category}">Category</a>
                <a th:href="@{/cuisine}">Cuisine</a>
            </nav>
        </div>
    </body>
</html>