<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - Admin</title>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/css/background.css"/>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Navigation-->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    <button type="button" class="collapsible">Admin Recipe</button>
    <!--Main page-->
    <div class="fade-in">
        <div class="flex-container">
            <div class="container">
                <!--Takes the user to the add recipe form-->
                <a class="flashybutton" th:href="@{/add}">Add Recipe</a>
            </div>
            <div class="spaceMedium"></div>
            <table>
                <!--Displays all recipes-->
                <tr th:each="recipe: ${allRecipes}">
                    <td th:text="${recipe.recipeTitle}"></td>
                    <!--Takes the user to the update recipe form-->
                    <td class="admin-table"><a th:href="@{/add/update/{recipeId}(recipeId=${recipe.recipeId})}"
                                               class="editbutton">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
</sec:authorize>
<script type="text/javascript" src="/script/fadein.js"></script>
</body>
</html>