<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - Category</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Top navigation-->
    <ul>
        <li><img class="broccoli" src="/images/broccoli.png" alt="Logo"></li>
        <li><a th:href="@{/index}">EatAndTreat</a></li>
        <li class="totheright"><img class="broccoli" src="/images/broccoli.png" alt="Logo"></li>
        <li class="totheright" th:if="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/mykitchen}">MyKitchen</a></li>
        <li class="totheright" th:unless="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/login}">MyKitchen</a></li>
    </ul>
    <!--Lower navigation-->
    <ul class="navborder">
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="lowernav"
                                                                              th:href="@{/recipes}">Recipe</a></li>
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="lowernav"
                                                                              th:href="@{/cuisine}">Cuisine</a></li>
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')"><a id="active" class="lowernav"
                                                                              th:href="@{/category}">Category</a></li>
        <li class="loginoutbutton"><a class="lowernav"
                                      th:href="@{/logout}">Logout</a></li>
        <li class="loginoutbutton"><a class="lowernav"
                                      th:href="@{/login}">Login</a></li>
    </ul>
    <div class="flex-container">
        <div class="spaceMedium"></div>
        <div id="padding">
            <!-- Add category form -->
            <form action="#" th:action="@{/category}" th:object="${category}" method="post">
                <p hidden><input type="text" th:field="*{categoryId}"/></p>
                <p><input type="text" th:field="*{categoryName}" required placeholder="Category"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="spaceMedium"></div>
        <table>
            <!-- Displays all categories -->
            <tr th:each="category: ${allCategories}">
                <td th:text="${category.categoryName}"></td>
                <!-- Deletes the category, hidden because it can cause an error -->
                <!--                    <td class="edittable"><a th:href="@{/category/delete/{categoryId}(categoryId=${category.categoryId})}"-->
                <!--                                             class="editbutton">Delete</a></td>-->
                <!-- Loads the category in the add category form so it can be update -->
                <td class="edittable"><a
                        th:href="@{/category/update/{categoryId}(categoryId=${category.categoryId})}"
                        class="editbutton">Update</a></td>
            </tr>
        </table>
    </div>
</sec:authorize>
</body>
</html>