<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Recipes - Add</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheet.css"/>
        <link rel="icon" type="image/png" href="/images/smileySmall.png">
    </head>
    <body>
        <div class="flex-container">
            <nav>
                <a th:href="@{/index}">Overview</a>
                <a th:href="@{/add}">Add</a>
                <a class="active" th:href="@{/category}">Category</a>
                <a th:href="@{/cuisine}">Cuisine</a>
                <a th:href="@{/register}">Register</a>
                <a th:href="@{/login}">Login</a>
            </nav>
        </div>
        <div id="space"></div>
        <div class="flex-container" id="flexblack">
            <div id="padding">
                <form action="#" th:action="@{/category}" th:object="${category}" method="post">
                    <p hidden><input type="text" th:field="*{categoryId}"/></p>
                    <p><h2>Category Name</h2><input type="text" th:field="*{categoryName}" required/></p>
                    <p><input type="submit" value="Submit"/></p>
                </form>
            </div>
        </div>
    </body>
</html>