<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>AmbrosiApp - Cuisine</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <div id="myTopnav" class="topnav">
        <nav>
            <div onclick="openNav()" class="broccolinopad"><img class="broccoli" src="/images/broccoli.png" alt="Broccoli"></div>
            <div><a th:href="@{/index}">AmbrosiApp</a></div>
        </nav>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a th:href="@{/login}">Login</a>
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <a th:href="@{/add}">AddRecipe</a>
            <a th:href="@{/userinfo}">MyInfo</a>
        </div>
        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a th:href="@{/cuisine}">Cuisine</a>
            <a th:href="@{/recipes}">Recipe</a>
            <a th:href="@{/category}">Category</a>
        </div>
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div class="flex-container">
            <div class="spaceSmall"></div>
            <div id="padding">
                <!-- Add cuisine form -->
                <form action="#" th:action="@{/cuisine}" th:object="${cuisine}" method="post">
                    <p hidden><input type="text" th:field="*{cuisineId}"/></p>
                    <p><input type="text" th:field="*{cuisineName}" required placeholder="Cuisine"/></p>
                    <p><input type="submit" value="Submit"/></p>
                </form>
            </div>
            <div class="spaceMedium"></div>
            <table>
                <!-- Displays all cuisines -->
                <tr th:each="cuisine: ${allCuisines}">
                    <td th:text="${cuisine.cuisineName}"></td>
                    <!-- Deletes the cuisine, hidden because it can cause an error -->
                    <!--                    <td class="edittable"><a th:href="@{/cuisine/delete/{cuisineId}(cuisineId=${cuisine.cuisineId})}"-->
                    <!--                                             class="editbutton">Delete</a></td>-->
                    <!-- Loads the cuisine in the add cuisine form so it can be update -->
                    <td class="edittable"><a th:href="@{/cuisine/update/{cuisineId}(cuisineId=${cuisine.cuisineId})}"
                                             class="editbutton">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
</sec:authorize>
<script type="text/javascript" src="script/navigation.js"></script>
</body>
</html>