<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Recipes - Edit</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheet.css"/>
        <link rel="icon" type="image/png" href="/images/smileySmall.png">
    </head>
    <body>
        <div class="flex-container">
            <nav>
                <a th:href="@{/index}">Overview</a>
                <a th:href="@{/add}">Add</a>
                <a class="active" th:href="@{/edit}">Edit</a>
            </nav>
        </div>
        <div id="space"></div>
        <div class="flex-container" id="flexblack">
        <table>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Info</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="recipe: ${allRecipes}">
                    <td th:text="${recipe.recipeTitle}"></td>
                    <td th:text="${recipe.recipeType}"></td>
                    <td th:text="${recipe.recipeInfo}"></td>
                    <td class="edittable"><a th:href="@{/edit/delete/{recipeId}(recipeId=${recipe.recipeId})}"
                                             class="editbutton">Delete</a></td>
                    <td class="edittable"><a th:href="@{/add/update/{recipeId}(recipeId=${recipe.recipeId})}"
                                             class="editbutton">Update</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>