<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Recipes - Overview</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>
<body>
    <div class="flex-container-nav">
    <nav>
        <a th:href="@{/index}">AmbrosiApp</a>
        <a th:href="@{/login}">MyKitchen</a>
        <a th:href="@{/loggedout}">Logout</a>
    </nav>
    </div>
    <div class="spaceMedium"></div>
    <div class="message">AmbrosiApp</div>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
</body>
</html>