<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Recipes - Overview</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>
<body>
<div class="flex-container">
    <nav>
        <a class="active" th:href="@{/index}">Overview</a>
        <a th:href="@{/add}">Add</a>
        <a th:href="@{/login}">MyKitchen</a>
        <a th:href="@{/admin}">Admin</a>
    </nav>
</div>

<!--<div class="grid-container">-->
<!--    <span th:each="recipe, rStat : ${allRecipes}">-->
<!--        <div class=grid-item th:value="${recipe.recipeId}" th:unless="${rStat.index > 7}">-->
<!--             <a class="viewlink" th:href="@{/view/{recipeId}(recipeId=${recipe.recipeId})}">-->
<!--             <span th:text="${recipe.recipeTitle}"></span></a>-->
<!--        </div>-->
<!--    </span>-->
<!--</div>-->

<!-- grid-container creates a new container where max 8 grid items can be stored-->
<div class="grid-container">
    <!-- creates a list of numbers from 0 to the length of the list - 1 (or else out of bounds error)-->
    <span th:each="i : ${#numbers.sequence(0, allRecipes.size() - 1)}">
        <!-- this will add all the info into the grid items-->
        <div class=grid-item th:value="${allRecipes.get(i).recipeId}">
             <a class="viewlink" th:href="@{/view/{recipeId}(recipeId=${allRecipes.get(i).recipeId})}">
             <span th:text="${allRecipes.get(i).recipeTitle}"></span></a>
        </div>
        <!-- everytime that the size of the items modulo 8 equals 0 create new grid-->
        <div th:if="${i} % 8 == 0">
            <div th:if="${i} % 8 != 0">
            <div class=grid-item th:value="${allRecipes.get(i).recipeId}">
                 <a class="viewlink" th:href="@{/view/{recipeId}(recipeId=${allRecipes.get(i).recipeId})}">
                 <span th:text="${allRecipes.get(i).recipeTitle}"></span></a>
            </div>
        </div>
        </div>
    </span>
</div>

<!--        </div>-->
<!--        <div id="space"></div>-->
<!--        <div class="flex-container" id="flexblack">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Recipe Title</th>-->
<!--                    <th></th>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--                <tr th:each="recipe: ${allRecipes}">-->
<!--                    <td><a class="viewlink" th:href="@{/view/{recipeId}(recipeId=${recipe.recipeId})}">-->
<!--                        <span th:text="${recipe.recipeTitle}"></span></a></td>-->
<!--                    <td class="edittable"><a th:href="@{/index/delete/{recipeId}(recipeId=${recipe.recipeId})}"-->
<!--                                             class="editbutton">Delete</a></td>-->
<!--                    <td class="edittable"><a th:href="@{/add/update/{recipeId}(recipeId=${recipe.recipeId})}"-->
<!--                                             class="editbutton">Update</a></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
</body>
</html>