<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EatAndTreat - Login</title>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="/background.css"/></head>
<body>
<!--Navigation-->
<nav th:replace="fragments/navigation :: navigation"></nav>
<!--Main page-->
<div class="flex-container">
    <div class="spaceLarge"></div>
    <div id="padding" class="color">
        <!--Login form-->
        <form th:action="@{/login}" method="post">
            <input class="margin" type="text" id="username" name="username" placeholder="Email address"
                   autofocus="autofocus">
            <input class="margin" type="password" id="password" name="password" placeholder="Password"/>
            <p><input type="submit" name="login-submit" id="login-submit" value="Log In"/></p>
        </form>
        <div class="spaceTiny"></div>
        <!--Navigation for register-->
        <p><a class="flashybutton" th:href="@{/registration}">Go to register</a></p>
    </div>
    <div class="spaceMedium"></div>
    <!--Displays a message after an unsuccessful login-->
    <div class="messagesmall" th:if="${param.error}">Invalid email address or password</div>
</div>
</div>
</body>