<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - MyKitchen</title>
    <div th:replace="fragments/mykitchen :: head"></div>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Navigation-->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    <!--Main page-->
    <div class="message" id="smaller">
        <div th:text="${'Welcome ' + user.getFirstName()}"></div>
    </div>
    <div class="spaceLarge"></div>
    <div class="col-12 imagetextcontainer">
        <br>
        <a class="flashybutton" th:href="@{/add}">Add recipe</a>
        <br><br><br>
        <a class="flashybutton" th:href="@{/userinfo}">My info</a>
        <br><br><br>
        <!--link to created new cookbook-->
        <a class="flashybutton" th:href="@{/newcookbook}">New Cookbook</a>
        <!--link to all my cookbooks-->
        <a class="flashybutton" th:href="@{/mycookbooks}">My Cookbooks</a>
    </div>
</sec:authorize>
</body>
</html>