<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EatAndTreat - Register</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<!--Navigation-->
<nav th:replace="fragments/navigation :: navigation"></nav>
<!--Main page-->
<div class="flex-container">
    <div class="spaceLarge"></div>
    <div class="addContainer green">
        <!--Registration form-->
        <form th:action="@{/registration}" th:object="${user}" method="post">
            <div class="row">
                <div class="column-left">
                    <label for="firstName">First Name</label>
                </div>
                <div class="column-right">
                    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                           required placeholder="First Name"/>
                </div>
            </div>
            <div class="row">
                <div class="column-left">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="column-right">
                    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required
                           placeholder="Last Name"/>
                </div>
            </div>
            <div class="row">
                <div class="column-left">
                    <label for="emailAddress">Email Address</label>
                </div>
                <div class="column-right">
                    <input type="text" id="emailAddress" name="emailAddress" th:field="*{emailAddress}" required
                           placeholder="Email Address"/>
                </div>
            </div>
            <div class="row">
                <div class="column-left">
                    <label for="password">Password</label>
                </div>
                <div class="column-right">
                    <input type="password" id="password" name="password" th:field="*{password}" required
                           placeholder="Password"/>
                </div>
            </div>
            <p>
                <button type="submit">Register</button>
            </p>
        </form>
        <div class="spaceTiny"></div>
        <!--Navigation for login-->
        <p><a class="flashybutton" th:href="@{/login}">Go to login</a></p>
    </div>
    <div class="spaceMedium"></div>
    <!--Displays a message after a successful registration-->
    <div class="messagesmall" th:if="${param.success}">You've successfully registered</div>
</div>
</body>
</html>