<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - MyInfo</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Top navigation-->
    <ul>
        <li><img class="broccoli" src="/images/broccoli.png" alt="Logo"></li>
        <li><a th:href="@{/index}">EatAndTreat</a></li>
        <li class="totheright"><img class="broccoli" src="/images/broccoli.png" alt="Logo"></li>
        <li class="totheright" th:if="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/mykitchen}">MyKitchen</a></li>
        <li class="totheright" th:unless="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/login}">MyKitchen</a></li>
    </ul>
    <!--Lower navigation-->
    <ul class="navborder">
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="lowernav"
                                                                              th:href="@{/recipes}">Recipe</a></li>
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="lowernav"
                                                                              th:href="@{/cuisine}">Cuisine</a></li>
        <li class="adminbutton" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="lowernav"
                                                                              th:href="@{/category}">Category</a></li>
        <li class="loginoutbutton"><a class="lowernav"
                                      th:href="@{/logout}">Logout</a></li>
        <li class="loginoutbutton"><a class="lowernav"
                                      th:href="@{/login}">Login</a></li>
    </ul>
    <div class="flex-container">
        <div class="spaceMedium"></div>
        <div class="addContainer">
            <!-- Userinfo update form -->
            <form action="/update">
                <div class="row">
                    <div class="column-left">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="column-right">
                        <input type="text" id="firstName" name="firstName" th:value="${user.getFirstName()}"
                               required placeholder="First Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column-left">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="column-right">
                        <input type="text" id="lastName" name="lastName" th:value="${user.getLastName()}" required
                               placeholder="Last Name"/>
                    </div>
                </div>
                <p>
                    <button type="submit">Update</button>
                </p>
            </form>

        </div>
    </div>
</sec:authorize>
</body>
</html>