<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>My info</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>
<body>
    <div class="flex-container-nav">
        <nav>
            <a th:href="@{/indexloggedin}">AmbrosiApp</a>
            <a th:href="@{/mykitchen}">MyKitchen</a>
            <a th:href="@{/logout}">Logout</a>
        </nav>
    </div>
    <div class="flex-container">
        <nav>
            <a th:href="@{/add}">Add</a>
            <a class="active" th:href="@{/userinfo}">MyInfo</a>
        </nav>
        <nav>
            <a th:href="@{/recipes}">Admin</a>
        </nav>
        <div class="space"></div>
        <div class="flex-container">
        <table>
            <tr>
                <th>First Name</th><td th:text="${user.getFirstName()}"></td>
            </tr>
            <tr>
                <th>Last Name</th><td th:text="${user.getLastName()}"></td>
            </tr>
            <tr>
                <th>Email Address</th><td th:text="${user.getEmail()}"></td>
            </tr>
        </table>
        <div class="space"></div>
<!--        <td class="edittable"><a th:href="@{/userinfo/update/${user.getFirstName()}}"-->
<!--                                 class="editbutton"> Update </a></td>-->
        </div>
    </div>
    </div>
</body>
</html>

<!--<table>-->
<!--    <tr>-->
<!--        <th>First name</th>-->
<!--        <td class="edittable"><a th:text="${user.getFirstName()}"></a></td>-->
<!--        <th>Last name</th>-->
<!--        <td th:text="${user.getLastName()}"></td>-->
<!--        <th>E-mail</th>-->
<!--        <td th:text="${user.getEmail()}"></td>-->
<!--        <td class="edittable"><a th:href="@{/userinfo/update/${user.getFirstName()}}"-->
<!--                                 class="editbutton"> Update </a></td></tr>-->
<!--</table>-->