<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>My info</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="icon" type="image/png" href="/images/smileySmall.png">
</head>

<body>
<div class="flex-container">
    <nav>
        <a th:href="@{/index}">Overview</a>
        <a th:href="@{/add}">Add</a>
        <a class="active" th:href="@{/logout}">Logout</a>
    </nav>
</div>

<div>
    <table>
        <tr>

            <th>First name</th>
            <td class="edittable"><a th:text="${user.getFirstName()}"></a></td>
            <th>Last name</th>
            <td th:text="${user.getLastName()}"></td>
            <th>E-mail</th>
            <td th:text="${user.getEmail()}"></td>
            <td class="edittable"><a th:href="@{/userinfo/update/${user.getFirstName()}}"
                                     class="editbutton"> Update </a></td>

        </tr>
    </table>

    <form action="#" th:action="@{/userinfo}" th:object="${user}" method="post">
        <p><input type="text" th:field="*{firstName}" required placeholder="Category"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
</body>
</html>