<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Eat And Treat - Cookbook</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')">
    <!--Navigation-->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    <button type="button" class="collapsible"><div th:text="${cookbookName}"></div></button>
    <!--Main page-->
    <div class="fade-in">
        <div class="spaceMedium"></div>
        <div th:if="${myRecipes.size() < 1}">
            <div class="flex-container">
                <style></style>
                <div class="messagesmall">This page is hungry</div>
                <div class="messagesmall">Please feed it some recipes first</div>
                <div class="spaceMedium"></div>
                <a class="flashybutton" th:href="@{/add}">Add Recipe</a>
            </div>
        </div>
        <div th:if="${myRecipes.size() >= 1}">
            <!--Creates a list of numbers from 0 to the length of the list - 1 (or else out of bounds error)-->
            <div th:each="i : ${#numbers.sequence(0, myRecipes.size() - 1)}">
                <!--This will add all the info into the grid items-->
                <div class="col-3 overview-responsive imagetextcontainer" th:value="${myRecipes.get(i).recipeId}">
                    <a th:href="@{/viewrecipe/{recipeId}(recipeId=${myRecipes.get(i).recipeId})}">
                        <br>
                        <img th:src="|data:image/jpeg;base64,${allImages.get(i)}|" alt="Food" class="grid-image">
                    </a>
                    <div class="index-foodname" th:text="${myRecipes.get(i).recipeTitle}"></div>
                    <a th:href="@{/deletefromcookbook{cookbookId}/{recipeId}(cookbookId=${cookbook.getCookbookId()},
                    recipeId=${myRecipes.get(i).recipeId})}" id="remove-from-cookbook">X</a>
                </div>
            </div>
        </div>
    </div>
</sec:authorize>
<script type="text/javascript" src="/script/fadein.js"></script>
</body>
</html>