<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EatAndTreat - View Recipe</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>
<!--Navigation-->
<nav th:replace="fragments/navigation :: navigation"/>
<!--Main page-->
<div class="spaceSmall"></div>
<!-- Id to indicate what can be printed -->
<div id="printpage">
    <!-- Displays the recipe title -->
    <div class="message" th:text="${recipe.recipeTitle}"></div>
    <div class="flex-container">
        <div class="grid-container-view">
            <div class="grid-item-view">
                <div class="flex-container">
                    <!-- Displays ingredients in a grid to the left -->
                    <table class="green">
                        <tr>
                            <th>Ingredients</th>
                        </tr>
                        <tr>
                            <td th:text="${recipe.ingredients}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Displays an image in a grid in the center -->
            <div class="grid-item-view">
                <img th:src="|data:image/jpeg;base64,${image}|" alt="Food" class="viewImage">
            </div>
            <div class="grid-item-view">
                <div class="flex-container">
                    <!-- Displays preparation in a grid to the right -->
                    <table class="green">
                        <tr>
                            <th>Preparation</th>
                        </tr>
                        <tr>
                            <td th:text="${recipe.recipePreperation}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="spaceMedium"></div>
    <!-- Shows who added the recipe -->
    <div class="messagesmall">Contributed by</div>
    <div class="messagesmall" th:text="${recipe.user}"></div>
    <div class="spaceMedium"></div>
    <div class="flex-container">
        <!-- Show servings, preparationTime, cookTime, cuisine and category -->
        <table class="green">
            <tr>
                <th>Servings</th>
                <td th:text="${recipe.servings}"></td>
            </tr>
            <tr>
                <th>PreperationTime</th>
                <td th:text="${recipe.preperationTime}"></td>
            </tr>
            <tr>
                <th>CookTime</th>
                <td th:text="${recipe.cooktime}"></td>
            <tr>
                <th>Cuisine</th>
                <td th:text="${recipe.cuisineName}"></td>
            </tr>
            <tr>
                <th>Category</th>
                <td th:text="${recipe.categoryName}"></td>
            </tr>
            </tr>
        </table>
        <div class="spaceMedium"></div>
        <!-- Button for printing -->
        <input type="submit" value="Print" onClick="printPageArea('printpage')">
    </div>
</div>
<div class="spaceMedium"></div>
<script>
    function printPageArea(divIDToPrint) {
        var printContent = document.getElementById(divIDToPrint);
        var WinPrint = window.open('', '', 'width=900,height=650');
        WinPrint.document.write(printContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
    }
</script>
</body>
</html>